.app {

  .aside {
    // ...
  }

  .main {
    // ...
  }

  &.isCreative {

    .aside {
      position: fixed;
      width: 280px;
      height: 100%;
      box-shadow: 0px 0px 5px 0px #0000001a;
    }

    .main {
      margin-left: 280px;
    }
  }
}
