.skeleton {
  outline-width: 1px;
  outline-style: solid;
  outline-color: transparent;

  transition: outline-color, padding, margin 0.28s;

  &.isContainer {
    outline-style: dashed;
  }

  &.isCreative {
    outline-color: rgba(138, 138, 138, 0.308);

    padding: 0;
    margin: 9px;

    user-select: none;

    &.isContainer {
      padding: 1px;
    }

    &.isActive {
      outline-color: #1dacffbe;
      outline-width: 2px;
    }
  }
}
